@model AlexaSkillsService.Models.BombStopper.Game
@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_BombStopper.cshtml";
}

@if (Model == null)
{
    <h1>Bomb Not Found</h1>

    <p>No recent bombs were found with the serial number entered.</p>
}
else
{
    <h2>Seconds to Solve: @Model.SecondsToSolve</h2>

    foreach (var ruleSet in Model.RuleSets.OrderBy(rs => rs.NumberOfWires))
    {
        <h2>@ruleSet.NumberOfWires Wires:</h2>
        <ul>
            @{ var ruleCount = 1; }
            @foreach (var rule in ruleSet.Rules.OrderBy(r => r.RuleIndex))
            {
                <li>
                    @if (ruleCount == 1)
                    {
                        @:If @rule.RuleText
                    }
                    else
                    {
                        @:otherwise, if @rule.RuleText,
                    }
                </li>
                ruleCount++;
            }
            <li>otherwise, @ruleSet.FallThroughRuleText.</li>
        </ul>
    }

    using (Html.BeginForm("Result", "BombStopper", FormMethod.Post, new { id = "goToResultForm" }))
    {
        <input type="hidden" name="cryptoGameId" value="@Model.CryptoGameId" />
    }
}

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function() {
            var hub = $.connection.bombStopperHub;

            hub.client.goHome = function() {
                window.location.href = 'Index';
            };

            hub.client.goToResult = function() {
                setTimeout(function() {
                    $('#goToResultForm').submit();
                }, 5000);
            };

            $.connection.hub.start();
        });
    </script>
}